<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdminAudioVideo.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AdminAudioVideo.Properties.config.connOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.8.35)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=labcho.laboratorioschontalpa.com.mx)));User Id=elisa;Password=elisaprueba;" />
  </connectionStrings>
  <userSettings>
    <AdminAudioVideo.Properties.Settings>
      <setting name="Desarrollo" serializeAs="String">
        <value>Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.8.35)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=labcho.laboratorioschontalpa.com.mx)));UserId=elisa;Password=elisaprueba;</value>
      </setting>
    </AdminAudioVideo.Properties.Settings>
  </userSettings>
</configuration>