<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SucursalAudio.configAudio" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SucursalAudio.configAudio>
            <setting name="ftp_usarPasivo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftp_usuario" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="ftp_pass" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="ip_local" serializeAs="String">
                <value>192.168.10.25</value>
            </setting>
            <setting name="ftp_direccion" serializeAs="String">
                <value>---</value>
            </setting>
            <setting name="ip_remota" serializeAs="String">
                <value>192.168.10.25</value>
            </setting>
        </SucursalAudio.configAudio>
    </userSettings>
</configuration>